:root {
    --primary: #FFA600;
    --secondary: #3271C2;
    --accent: #006DFF;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: var(--primary);
}

h1 {
    font-size: 45px;
    font-style: oblique;
    color: var(--primary);
    border-style:hidden;
    background-color: var(--secondary);
    border-radius: 50rem;
    
}

.container {
    margin: 10%;
    padding: 20px 10px;
    border: 3px groove var(--accent);
    border-radius: 20px;
    background-color: var(--secondary);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

#userInput {
    border: 2px groove var(--accent);
    padding: 8px;
}

#btn,
#resetBtn {
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button {
    transition: all 0.2s ease;
}

#btn:hover,
#resetBtn:hover {
    background: var(--primary);
    color: black;
}

.result {
  font-size: 40px;
  margin-top: 10px;
}

.success {
  color: var(--primary);
  font-weight: bold;
  background-color: var(--accent);
}

.error {
  color:var(--primary);
  font-weight: bold;
  background-color: var(--accent);
}

@media (min-width: 900px) {
    h1 {
        font-size: 80px;
        padding: 50px 25px; 
    }
}
