body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: gray;
}

h1 {
    font-size: 45px;
    font-style: oblique;
    color: white;
    border-style:hidden;
    background-color: darkblue;
    border-radius: 50rem;
    
}

.container {
    margin: 10%;
    padding: 20px 10px;
    border: 3px groove darkblue;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

#userInput {
    border: 2px groove darkblue;
    padding: 8px;
}

#btn,
#resetBtn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button {
    transition: all 0.2s ease;
}

#btn:hover,
#resetBtn:hover {
    background: yellow;
    color: black;
}

.result {
  font-size: 40px;
  margin-top: 10px;
}

.success {
  color: green;
  font-weight: bold;
  background-color: yellow;
}

.error {
  color: red;
  font-weight: bold;
  background-color: black;
}

@media (min-width: 900px) {
    h1 {
        font-size: 80px;
        padding: 50px 25px; 
    }
}
